@{
    ViewBag.Title = "İletişim";
}

<h3>İletişim Bigilerimiz</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:umutfurkancan@hotmail.com">umutfurkancan@hotmail.com</a>

</address>