@{
    ViewBag.Title = "Supplementler";
}

<div class="jumbotron">
    <h1>Supplement nedir ?</h1>
    <p class="lead">


    </p>
   
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Kimler kullanabilir ?</h2>
        <p>
            Spor yapan herkes için uygundur.<br />
            Almadan önce Spor hocanıza sorun.

        </p>
        <p><a class="btn btn-default" href="Home/About">SATIN ALMAK İÇİN TIKLAYIN &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zararlı mı ?</h2>
        <p>
            Kişiden kişiye göre farklılık gösterebilir kullanmadan önce spor hocanıza veya doktorunuza danışın.

        </p>

    </div>
    <div class="col-md-4">
        <h2>Spor yapmak hayattır..</h2>
        <p>
            Spor yaparak dinç kalabilirsiniz.

        </p>

    </div>

</div>